<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
<!--           <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->
        </header>
        <div style="text-align:justify">
<font size="2" color="#000000" style="text-align:justify;background-color:transparent;">
<span style="line-height:1.5;text-align:justify;background-color:transparent">
<img src="/img/avatar.png" border="0" height="200" width="200" alt="avatar" align="left" style="border: none; float: left; margin: 40px 40px 100px 20px;"> 
<a href="https://www.facebook.com/HareeshRavi21" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="FB profile" src="/../img/facebook-512.png" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent";></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/rhareesh/" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="LinkedIn profile" src="/../img/linkedin.png" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent";></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://scholar.google.com/citations?user=Lo7VgJ0AAAAJ&amp;hl=en" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="Google Scholar Profile" src="/../img/scholar.png" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent";></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/Hareesh-Ravi" style="line-height:1.5;background-color:transparent" target="_blank"><img alt="GitHub page" src="/../img/github.jpeg" style="border-width:0px;border-style:initial;line-height:1.5;width:62px;height:62px;background-color:transparent";></a>
<br>
I am a Senior Applied Research Scientist at Adobe's Applied Research team working on language-vision research and Generative AI. I completed my PhD from the <a href="https://www.cs.rutgers.edu/" target="_blank">CS</a> department at the 
<a href="https://ivi.cs.rutgers.edu/" target="_blank">Intelligent Visual Interfaces</a> lab in <a href="http://newbrunswick.rutgers.edu/?utm_source=rutgers.edu&amp;utm_medium=web&amp;utm_campaign=uwide_sliver" target="_blank">Rutgers University</a> 
. My PhD thesis was on Multimodal Story Comprehension, under the supervision of <a href="https://www.cs.rutgers.edu/~mk1353/" target="_blank"> Dr. Mubbasir Kapadia</a> and <a href="http://gerard.demelo.org/" target="_blank">Dr. Gerard De Melo</a><span style="background-color:transparent">. 
My research interests are on joint understanding of images/videos and abstract/narrative text with applications to multimodal story comprehension. Specificaly, story illustration, visual storytelling, image captioning and text-to-image retreival/generation. </a>.     
<br>
</font>
</div>
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

<!--         <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </footer> -->

      </div>
    </div>
  </body>
</html>
